<div class="container">
  <h1 class="mt-4"> My<i class="highlighted highlighted-transport">PapeL</i></h1>

  <div class="card-user-x mt-4">
    <div class="avatar">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, crop: :fill, class: 'avatar dropdown-toggle', id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= cl_image_tag 'no-avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>
    <div class="card-user-infos ml-4">
      <h2> Number of PapeL : </h2>
      <h3><%= @user.receipts.count %></h3>
      <h2 class="mt-1"> <%= @user.name %> </h2>
      <p>See your receipts below!</p>
    </div>
  </div>

  <%= link_to "My groups", cohorts_path, class: "btn-main mt-5 d-flex justify-content-center"%>

  <div class="search mt-5" id="search-form">
    <%= form_tag profile_path(current_user), method: :get, id: 'search-form' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a receipt"
    %>
    <%= submit_tag "Search", class: "btn-main mt-3"  %>
    <% end %>
  </div>

  <div class="mt-5">
    <% @receipts.each do |receipt| %>
      <% icon_name = "ic-#{receipt.category_name}.png" %>
      <%= link_to receipt_path(receipt) do %>
        <div class="card-list-ticket mt-3">
          <div class="category-icon"> <%= image_tag icon_name %></div>
          <div class="card-list-content">
            <div>
              <p><small><%= receipt.date.strftime('%A, %b %d') %></small></p>
              <p><strong><%= receipt.store %></strong></p>
            </div>
            <div>
              <%= link_to receipt_path(receipt),method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="link far fa-trash-alt mt-2" style="font-size: 25px;"></i>
              <% end  %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
