<div class="container">
  <h1>My Expenses</h1>

  <p> You spent: <%=@user_expense %> € </p>
</div>

<canvas id="myChart"
        data-labels="<%= @labels.to_json %>",
        data-percentages="<%= @percentages.to_json %>">
</canvas>

<div class="container">

  <div class="stats-card">
    <% Receipt::CATEGORIES.each do |key, value| %>
      <% unless @user.total_receipts_per_category(key) == 0 %>
        <% icon_name = "ic-#{key}.png" %>
        <%= link_to profile_path(current_user, category_name: key) do %>
          <div class="card-list-ticket mt-3">
            <div class="category-icon"> <%= image_tag icon_name %></div>
            <div class="card-list-content">
              <div>
                <% (@user.total_receipts_per_category(key).fdiv(@user_expense) * 100).to_i %>
                <p><small><%= value %></small></p>
              </div>
              <div>
                <p><strong><%= @user.total_receipts_per_category(key) %> €</strong></p>
            </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
