
<div class="container mt-4">
  <h1 class="mt-4"> My<i class="highlighted highlighted-transport">Expenses</i></h1>
  <div class="d-flex flex-column align-items-center mt-4">
    <h4> You spent 🤑</h4>
    <span><h4><i class="highlighted highlighted-food mb-4"> <strong><%=@user_expense %>€</strong> </i></span></h4>
  </div>
</div>

<!-- Chart -->
<canvas id="myChart"
        data-labels="<%= @labels.to_json %>",
        data-percentages="<%= @percentages.to_json %>">
</canvas>

<!-- List receipts -->
<div class="container">
  <div class="stats-card">
    <% Receipt::CATEGORIES.each do |key, value| %>
      <% unless @user.total_receipts_per_category(key) == 0 %>
        <% icon_name = "ic-#{key}.png" %>
        <%= link_to profile_path(current_user, category_name: key) do %>
          <div class="card-list-ticket mt-3">
            <div class="category-icon"> <%= image_tag icon_name %></div>
            <div class="card-list-content">
              <div>
                <% (@user.total_receipts_per_category(key).fdiv(@user_expense) * 100).to_i %>
                <h5><small><%= value.split(" ").first %></small></h5>
                <p><strong><%= @user.total_receipts_per_category(key) %> €</strong></p>
              </div>
              <div>
                <h5><strong><%=(@user.total_receipts_per_category(key).fdiv(@user_expense) * 100).to_i %> %</strong></h5>
            </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
