<div class="container full-height">
  <h1>Groups</h1>
  <h2>Details</h2>
  <p>PEOPLE</p>
</div>
  <div class="card-line-header-x">
  </div>
  <div class="container">
    <div class="">
      <%= link_to "+", new_cohort_path %>
        <% @cohorts.each do |cohort| %>
          <div class="notification">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
             <div class="notification-content">
              <p><small><%= link_to cohort.title, cohort_path(cohort) %></small></p>
              <p><strong> <%= cohort.description %></strong></p>
            </div>
            <div class="notification-actions">
              <%= link_to edit_cohort_path(cohort), method: :get do %>
                <p> Edit <i class="fas fa-pencil-alt"></i></p>
              <% end %>

              <%= link_to cohort_path(cohort), method: :delete, data: { confirm: "Are you sure?" } do %>
                <p> Delete <i class="far fa-trash-alt"></i></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
