<!-- Header -->
<div class="container full-height">
  <h1 class= "mt-4">My
    <i class= "highlighted highlighted-transport">Groups</i>
  </h1>
  <h2>Details</h2>
  <div class="d-flex">
    <img class="mr-2 mt-2" style="height: 45px;" src="https://image.flaticon.com/icons/svg/476/476863.svg" alt="">
    <h3 class="mt-3"> <%= @cohorts.size %> </h3>
  </div>
  <div class="container card-line-header-x">
  </div>

  <div class="mt-3">
    <%= link_to "Create a group", new_cohort_path, class: "btn-outline" %>
  </div>

<!-- Card(s) Show Groups -->
<% @cohorts.each do |cohort| %>
  <%= link_to cohort_path(cohort) do %>
    <div class="card-group mb-3">
      <%= cl_image_tag cohort.owner.avatar.key, height:60, width: 50, crop: :fill, class:"card-group-avatar"%>
      <div class="card-group-text d-flex">
          <p class="card-group-title"><strong><%=  cohort.title %></strong></p>

          <div class="card-group-icon-edit">
            <%= link_to edit_cohort_path(cohort), method: :get do %>
            <i class="fas fa-pen" style="font-size: 14px;"></i>
            <% end %>
          </div>
          <div class="card-group-icon-delete">
            <%= link_to cohort_path(cohort), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-times" style="font-size: 14px;"></i>
            <% end %>
          </div>
          <p class="card-group-name"><%= cohort.owner.name.capitalize %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>



