<div class="container full-height">

  <h1> <%= @cohort.title %> </h1>
  <div class="d-flex">
    <h3> <%= @cohort.owner.name.capitalize %> </h3>
    <p class="owner-tag ml-3 mt-1">Owner</p>
  </div>
    <div class="avatar p-3 d-flex">
      <% @cohort.members.first(4).each do |member| %>
        <%= cl_image_tag member.user.avatar.key, height: 50, width: 50, crop: :fill, class: 'avatar-large' %>
      <% end %>
    </div>
    <div class="card-line-header-x"> </div>
  <div class="mt-3">
    <%= simple_form_for [@cohort, @member] do |f| %>
    <%= f.input :user_id, collection: @users %>
  <div class="d-none">
    <%= f.input :status, input_html: { value: 'participant' } %>
  </div>
    <%= f.submit "Ajouter un membre", class: 'btn-main mb-5' %>
    <% end %>
    <%= link_to "Add a receipt",  new_receipt_path, class: "btn-main" %>
  </div>
</div>

  <div class="btn-outline-m"> <%= link_to 'Back to my groups', cohorts_path(current_user) %></div>
