<div class="container full-height">

  <h1 class="d-flex justify-content-center"> <%= @cohort.title %> </h1>

    <div class="avatar d-flex mb-2">
      <% @cohort.members.first(4).each do |member| %>

      <div class="avatar mr-4">
        <%= cl_image_tag member.user.avatar.key, height: 100, width: 100, crop: :fill, class: 'avatar-large' %>
        </div>
        <div class="tag">
          <% if member.status == "owner" %>
            <p class="owner-tag mt-1" ><%= member.status.capitalize %></p>
          <% else %>
            <p class="invited-tag mt-1" ><%= member.status.capitalize %></p>
          <% end %>
        </div>

      </div>
      <% end %>
    </div>

    <div class="mt-5 card-line-header-x"> </div>
  <div class="mt-3">
      <%= simple_form_for [@cohort, @member] do |f| %>
      <%= f.input :user_id, collection: @users %>
    <div class="d-none">
        <%= f.input :status, input_html: { value: 'participant' } %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit "Ajouter un membre", class: 'btn-outline' %>
      <% end %>
    </div>

    <div class="cohort-receipts mb-2">
      <% @cohort.receipts.each do |receipt| %>
        <% icon_name = "ic-#{receipt.category_name}.png" %>
        <%= link_to receipt_path(receipt) do %>
          <div class="card-list-ticket mt-3">
            <div class="category-icon"> <%= image_tag icon_name %></div>
            <div class="card-list-content">
              <div>
                <p><small><%= receipt.date.strftime('%A, %b %d') %></small></p>
                <p><strong><%= receipt.store %></strong></p>
              </div>
              <div>
                <p class=" ml-3"><strong><%= receipt.amount %>€</strong></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
      <div class="d-flex justify-content-center">
        <%= link_to "Share a receipt",  new_receipt_path(cohort_id: params[:id]), class: "btn-main"%>
      </div>
  </div>
</div>

 <div class="mt-4 d-flex justify-content-center">
  <%= link_to cohorts_path(current_user), class: "btn-outline" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
