
<!-- banner -->
<div class="banner">
  <section>
    <div class="wave-background">
      <div class="text-banner">
        <h1>PapeL</h1>
        <h3>Make your receipts usefull again!</h3>
        <div class="btn-container-y">
          <a class="btn-main-banner" href="#">Try now!</a>
        </div>
      </div>
    </div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
  </section>
</div>

<!-- Arguments -->
<div class="container">
  <div class="arg-title">
    <h2>Why <i class="highlighted highlighted-food">choose us?</i></h2>
  </div>

  <div class="arguments">
    <div class="icon">
      <div class="about-us"> <%= image_tag "about-1.png"%></div>
      <div class="arg-description">
        <h5><strong>Eco-friendly</strong></h5>
        <p>Make your receipts useful again.</p>
      </div>
    </div>

    <div class="icon">
      <div class="about-us"> <%= image_tag "about-2.png"%></div>
      <div class="arg-description">
        <h5><strong>Social</strong></h5>
        <p>Create groups to share your receipts.</p>
      </div>
    </div>

    <div class="icon">
      <div class="about-us"> <%= image_tag "about-3.png"%></div>
      <div class="arg-description">
        <h5><strong>Manage</strong></h5>
        <p>Manage your money like a pro.</p>
      </div>
    </div>
  </div>

  <!-- Features -->

  <div class="feature-title">
    <h2>Are you <i class="highlighted highlighted-food">ready for it?</i></h2>
  </div>

  <div class="killer-feature">
    <div class="feature">
      <div class="feature-body">
        <h4 class="feature-h4"><strong>SCAN</strong> your ticket 🤟</h4>
        <p class="feature-text text-justify">Enter the type of expense you are logging in PapeL. <br> It could be shopping, food, fuel, shopping, or anything else! Just fill in the costs and let PapeL do the math for you.</p>
        <a href="#" class="btn-main">Start now</a>
      </div>
    </div>
  </div>

  <div class="feature-1">
    <div class="feature">
      <div class="feature-body">
        <h4 class="feature-h4"><strong>STOCK</strong> your receipt 💪</h4>
        <p class="feature-text text-justify">No more wallets and pockets full of receipts! Let PapeL store them for you in a few clicks. Take a picture and bingo your ticket is added to your profile.</p>
        <% if current_user %>
        <%= link_to "Join us", profile_path(current_user), class: "btn-main" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="feature-2">
    <div class="feature">
      <div class="feature-body">
        <h4 class="feature-h4"><strong>SHARE</strong> with your friends 🤩</h4>
        <p class="feature-text text-justify">PapeL helps you share your lifestyle and brings you closer to friends, family and flatmates. Nothing is hidden. All logged expenses are visible to the group, and everyone can add their own.</p>
        <%= link_to "Share it", cohorts_path(current_user), class: "btn-main" %>
      </div>
    </div>
  </div>

<!-- Carousel -->
  <div class="carousel-title">
    <h2>Our customers <i class="highlighted highlighted-food"> love it 😍</i></h2>
  </div>
</div>

  <div class="carousel-part">
    <div class="d-flex justify-content-center">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% [1, 2, 3].each do |number| %>
            <div class="carousel-item <%= 'active' if number == 1 %>">
              <div class="reviews"> <%= image_tag "review-#{number}.png"%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


