
<%= simple_form_for @receipt do |f| %>

  <input type="hidden" name="cohort_id" value="<%= params[:cohort_id] %>">
  <div class="row">
    <input type="hidden" name="cohort_id" value="<%= params[:cohort_id] %>">
    <div class="col-6">
      <%= f.input :store, placeholder: "Auchan" %>
    </div>
    <div class="col-6">
      <%= f.input :amount, placeholder: "300"  %>
    </div>
    <div class="col-12">
      <%= f.input :description, placeholder: "Food shopping for the week.."  %>
    </div>

    <div class="col-12">
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
    </div>


    <div class="col-12">

      <% if @new %>
        <%= f.input :address, placeholder: "52 rue d'angleterre, 59000 Lille" %>
      <% else %>
        <%= f.input :address %>
      <% end %>
    </div>

    <div class="col-12">
      <!-- checkboxes -->

      <div class="form-group">
        <label class="control-label check_boxes optional">Categories</label>
        <input type="hidden" name="receipt[category_name]" value="" id="category_value">
        <div class="category-choices">
          <% Receipt::CATEGORIES.each do |key, category| %>
            <input type="checkbox" class="checkbox" value="<%= category %>"  name="receipt[category_name]" id="<%= category %>">
            <label for="<%= key %>" class="<%= 'active' if key == @receipt.category_name %>">
              <!-- <i class="fa fa-check"></i> -->
              <%= category %>
            </label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= f.button_button t(".submit"), name: "Submit", class: ' btn-main ml-2 mt-2 mb-4' %>
    </div>
  </div>
<% end %>
