<h1>My PapeL</h1>

<% @receipts.each do |receipt| %>
  <p><%=  receipt.category_name %></p>
  <p><%=  receipt.store %> </p>
  <p><%=  receipt.date %></p>

   <%= link_to 'Show receipt', receipt_path(receipt) %>
<% end %>

<%= link_to 'Add a receipt', new_receipt_path %>

