<div class="container">
  <h1 class="mt-4"> My
  <i class="highlighted highlighted-transport">PapeL</i>
 </h1>

  <div class="card-user-x mt-5">
    <div class="card-user-infos">
      <h2> Number of PapeL : </h2>
      <h3><%= @receipts.count %></h3>
      <h2 class="mt-1"> <%= current_user.email %> </h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>


  <div class="mt-5">
    <% @receipts.each do |receipt| %>
      <%= link_to receipt_path(receipt) do %>
        <div class="card-list-ticket mt-3">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="card-list-content">
            <p><small><%=  receipt.date.strftime('%A, %b %d') %></small></p>
            <p><strong><%=  receipt.store  %></strong></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="mt-5">
      <%= link_to 'Add a receipt', new_receipt_path %>
    </div>
  </div>
</div>



