<!-- Scan or add  a ticket -->
<div class="container mt-4 mb-4">

  <div class="premium">
    <% if current_user.premium == false && current_user.receipts.size > 10 %>

              <!-- Card -->
          <!--Grid row-->
          <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

              <!-- Card -->
              <h1 class="mt-4 d-flex justify-content-center mb-3"> Your<i class="highlighted highlighted-shopping">Account</i></h1>
              <div class="card gradient-card card-premium">

                  <div class="card-image" style="background-color: white;">
                    <!-- Content -->
                    <a href="#!">
                      <div class="text-white d-flex h-100 mask purple-gradient-rgba">
                        <div class="first-content align-self-center p-3">
                          <h3 class="card-title" style="color: black">Join the family!</h3>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Data -->
                  <div class="third-content  ml-auto mr-4 mb-2">
                    <p class="text-uppercase text-muted">Subscription for life</p>
                    <h4 class="font-weight-bold float-right">only 15€</h4>
                  </div>

                  <!-- Content -->
                  <div class="card-body white">
                    <div class="progress md-progress" style="width: 100%; height: 7px;">
                      <div class="progress-bar" role="progressbar" style="width: 98%; height: 7px; background-color: #F26766" ></div>
                    </div>
                    <p class="text-muted mt-1">You've almost used 100% of your free subsciption</p>
                    <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                    <p class="text-muted mb-5" align="justify">We're sorry but it seems like you've used all your free Papels! We want to thank you for using our app, but it is now time for you to be part of our family!! For only 15€ you'll be able to stay with us <strong>forever</strong>❤️</p>
                    <div class="d-flex justify-content-center">
                    <%= link_to 'Purchase', profile_become_premium_path(current_user), class: 'btn-main' %>
                    </div>
                  </div>

              </div>
              <!-- Card -->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </div>
    <% else %>
      <div class="row">
        <div class="col-12">
          <div class="form-post">
            <!-- HEADER -->
            <div class="text-center"><h1>New receipt</h1></div>
            <div class="card-line-header-x mb-4"></div>
            <h4><i class="highlighted highlighted-transport mb-2">Scan my receipt 🤩</i></h4>
              <!-- Scan Image form -->
            <%= simple_form_for @receipt do |f| %>
              <div>
                <%= f.input :photo, as: :file, label: "Add your picture"%>
                <%= f.input :photo, as: :file, label: "Take a picture", input_html: { accept: "image/*", capture: "camera"} %>
              </div>
              <input class="form-control hidden" type="hidden" name="scan" id="receipt_amount", value="true">
              <%= f.button_button t(".submit"), name: "Submit", class: 'btn-main' %>
            <% end %>
            <div class="card-line-header-x mb-4"></div>

            <!-- Image form manually -->
            <h4><i class="highlighted highlighted-food mb-2">Write my receipt ✍🏼</i></h4>

              <!-- TODO: (9) pre-remplir le formulaire avec les params récupérés -->
            <%= render 'form', receipt: @receipt %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
