<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-post">
        <h1>New receipt</h1>

        <!-- TODO: (1)
              - ajouter un formulaire d'upload d'image
              - rediriger vers l'action read_receipt
        -->


        <!-- TODO: (9) pre-remplir le formulaire avec les params récupérés -->


          <%= simple_form_for @receipt do |f| %>
            <div class="row">
              <div class="col-6">
                <%= f.input :store, placeholder: "Auchan" %>
              </div>
              <div class="col-6">
                <%= f.input :amount, placeholder: "300"  %>
              </div>
              <div class="col-12">
                <%= f.input :description, placeholder: "Food shopping for the week.."  %>
                <%= f.input :date %>
                <%= f.input :address, placeholder: "52 rue d'Angleterre 59000 Lille" %>

                <!-- checkboxes -->

                <div class="form-group">
                  <label class="control-label check_boxes optional">Categories</label>
                  <input type="hidden" name="receipt[category_name]" value="" id="category_value">
                  <div class="category-choices">
                    <% Receipt::CATEGORIES.each do |key, category| %>
                      <input type="checkbox" class="checkbox" value="<%= category %>"  name="receipt[category_name]" id="<%= category %>">
                      <label for="<%= key %>">
                        <!-- <i class="fa fa-check"></i> -->
                        <%= category %>
                      </label>
                    <% end %>
                   </div>
                </div>
                  <%= f.button_button t(".submit"), name: "Submit", class: ' btn-main ml-2 mt-2 mb-4' %>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

