<div class="container">
  <div class="d-flex justify-content-center mt-2">
    <h1>Your
      <i class="highlighted highlighted-vacation mt-2">receipt</i>
    </h1>
  </div>

    <div class="card-ticket">
      <div class="card-ticket-text">
        <h3 id="ticket-title"> <%= @receipt.store %> </h3>
        <p id="card-ticket-date"> <%= @receipt.date.strftime('%A, %b %d') %> </p>
        <p id="card-ticket-desc"> <%= @receipt.description %></p>
      </div>

      <p id="amount"> <%= @receipt.amount %>€</p>

      <div class="card-ticket-icons">
        <%= link_to edit_receipt_path(@receipt) do %>
          <i class="fas fa-pen" style="font-size: 17px;"></i>
          <% end %>
        <%= link_to receipt_path(@receipt),method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class=" link far fa-trash-alt" style="font-size: 17px;"></i>
        <% end  %>
      </div>
    </div>

  <div id="map" class="mt-4"
     style="width: 100%; height: 350px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="container-y">
  <div class="btn-outline mt-4" style="margin: 4px 4px 0px 0px;"> <%= link_to 'Back to receipts', profile_path(current_user) %></div>
</div>
