<!DOCTYPE html>
<html>
  <head>
    <title>PAPEL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

    <div class="footer-phone">
      <div class="footer-icons">
        <%= link_to root_path do %>
        <i class="fas fa-home"></i>
        <% end %>
        <%= link_to category_list_receipts_path do %>
        <i class="fas fa-search"></i>
        <% end %>
        <div data-turbolinks = "false">
          <%= link_to new_receipt_path do %>
            <div class="btn-plus-icon"><i class="fas fa-plus"></i></div>
          <% end %>
        </div>
        <%= link_to stats_profiles_path do %>
          <i class="fas fa-chart-pie"></i>
        <% end %>
        <% if current_user %>
        <%= link_to profile_path(current_user) do %>
        <i class="far fa-user"></i>
        <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
